<div class="user-manage-main">
    <div class="order">
        <div class="details">
            <!-- <span></span>
            <span></span>
            <span></span>
            <span>hhh</span> -->
            <ul>
                <li>{{cusOrder.id}}</li>
                <li>{{util.formatDateAndTime(cusOrder.custOrderDate)}}</li>
                <!-- <li>R {{orderTotalCost | number :'1.2-2'}}</li> -->
                <li>{{cusOrder.orderStatus}}</li>
            </ul>
        </div>
        <span class="actions">
            <label>Actions</label>
            <span class="actions-icons">
                <span *ngIf="cusOrder.orderStatus === 'OPEN'" class="fa fa-remove" title="Cancel this order"></span>
                <span class="fa {{ viewId !== 1 ? 'fa-eye' : 'fa-eye-slash'}}" 
                      title="{{ viewId !== 1 ? 'View order products' : 'Hide order products'}}" 
                      (click)="viewOrderDetails(cusOrder.id)">

                </span>
                <span *ngIf="cusOrder.orderStatus === 'OPEN'" class="fa fa-edit" title="Edit this order"></span>
            </span>
        </span>
    </div>
    <div class="products-panel" *ngIf="viewId === 1">
        <h4>Order products</h4>
            <div class="loader" *ngIf="spinnerIsShowing"></div>
            <div *ngIf="!spinnerIsShowing">
                <div class="order-prod" *ngFor="let pw of orderProducts">
                    <img [src]="pw.productImage" alt="">
                    <span>

                        <span class="sub-title">P.. name</span>: {{pw.product.productName}}<br>
                        <span class="sub-title">P.. price</span>: R {{pw.product.price | number :'1.2-2'}}<br>
                        <span class="sub-title">P.. quantity</span>: {{pw.product.quantity}} units.<br>
                        <span class="sub-title">Sub total</span>: R {{pw.product.price * pw.product.quantity| number :'1.2-2'}}<br>
                        
                    </span>
                </div>
                <span class="fa fa-close hide-prod-btn" title="Hide order products" (click)="viewId = -1;orderProducts = undefined"></span>
            </div>
    </div>
</div>