<h2>{{title}}</h2>
<div >
        
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3>Fill login details</h3>
        </div>
        <div class="col-md-3"></div>
    </div>
    <form [formGroup]="loginForm">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <app-input-field [data]="{
                    label: 'Username / Email',
                    placeholder : 'e.g. user@mm2.co.za',
                    type: 'email',
                    name: 'email'
                    }" [parentFormGroup]="loginForm"
                    [formControlErrorMessage]="formControlErrorMessage"
                >
                </app-input-field>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <app-input-field [data]="{
                    label: 'Password',
                    placeholder : 'e.g. User@1234 : This is just an example',
                    type: 'password',
                    name: 'password'
                    }"  [parentFormGroup]="loginForm"
                    [formControlErrorMessage]="formControlErrorMessage"
                >
                </app-input-field>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <button kendoButton style="width: 45%" (click)="onLoginClick()">Login</button>
              <button kendoButton style="width: 45%; float: right;" (click)="onResetClick()">Reset form</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
    

</div>