
<div class="category-title-area {{categoryClassName}}" [style.display]="showContent ? 'block' : 'none'" >
  Fresh baked {{categoryName}}
</div>

<div style="width: 93%;margin: auto" *ngIf="showContent">
  <div class="filters" *ngIf="products.length > 0">
    filters here
  </div>
  <div class="products-area" *ngIf="products.length > 0">
    <app-products-loader [products]="products"></app-products-loader>
  </div>
  <div *ngIf="products.length <= 0" style="text-align: center;width: 100%;">
    <br><br>
      There are no products under this category
    </div>
</div>