<h2>{{title}}</h2>
<div>
    <h3>Fill details</h3>
    <br>
    <form [formGroup]="regFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>

        <div class="row">
            <div class="col-md-6">
                <app-input-field [data]="{
                    label: 'First name',
                    placeholder : 'e.g. Mmetsa Julliet',
                    type: 'text',
                    name: 'firstname'
                    }" [parentFormGroup]="regFormGroup"
                    [formControlErrorMessage]="formControlErrorMessage"
                >
                </app-input-field>
            </div>
            <div class="col-md-6">
                <app-input-field [data]="{
                    label: 'Last name',
                    placeholder : 'e.g. Moloto',
                    type: 'text',
                    name: 'lastname'
                    }" [parentFormGroup]="regFormGroup"
                    [formControlErrorMessage]="formControlErrorMessage"
                >
                </app-input-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- <label for="">Gender</label>
                <br>
                <mat-radio-group>
                    <mat-radio-button value="1">Female </mat-radio-button>
                    <mat-radio-button value="2"> Male</mat-radio-button>
                </mat-radio-group> -->
                <app-input-field [data]="{
                    label: 'Email address',
                    placeholder : 'e.g. user@mm2.co.za',
                    type: 'email',
                    name: 'email'
                    }" [parentFormGroup]="regFormGroup"
                    [formControlErrorMessage]="formControlErrorMessage"
                >
                </app-input-field>
            </div>
            <div class="col-md-6">
                <app-input-field [data]="{
                    label: 'Username (Optional)',
                    placeholder : 'e.g. user',
                    type: 'text',
                    name: 'username'
                    }" [parentFormGroup]="regFormGroup"
                    [formControlErrorMessage]="formControlErrorMessage"
                >
                </app-input-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-input-field [data]="{
                    label: 'Password',
                    placeholder : 'e.g. User@123 : This is just an example',
                    type: 'password',
                    name: 'password'
                    }" [parentFormGroup]="regFormGroup"
                    [formControlErrorMessage]="formControlErrorMessage"
                >
                </app-input-field>
            </div>
            <div class="col-md-6">
                <app-input-field [data]="{
                    label: 'Confirm password',
                    placeholder : 'User@123 : This is just an example',
                    type: 'password',
                    name: 'confirmPassword'
                    }" [parentFormGroup]="regFormGroup"
                    [formControlErrorMessage]="formControlErrorMessage"
                >
                </app-input-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for=""> &nbsp; Gender</label>
                <br>
                <mat-radio-group>
                    <mat-radio-button value="1">Female </mat-radio-button>
                    <mat-radio-button value="2"> Male</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-6">
                DOB
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-input-field [data]="{
                    label: 'Cellphone number',
                    placeholder : 'e.g.  0721433207',
                    type: 'text',
                    name: 'cellphonNumber'
                    }" [parentFormGroup]="regFormGroup"
                    [formControlErrorMessage]="formControlErrorMessage"
                >
                </app-input-field>
            </div>
            <div class="col-md-6">
             
            </div>
        </div>
        <br>
        <h3>Password recovery details</h3>
        <br>
        <div class="row">
            <div class="col-md-6">
                <app-input-field [data]="{
                    label: 'Security question (optional)',
                    placeholder : 'e.g. What is my first pet name',
                    type: 'text',
                    name: 'securityQuestuion'
                    }" [parentFormGroup]="regFormGroup"
                    [formControlErrorMessage]="formControlErrorMessage"
                >
                </app-input-field>
            </div>
            <div class="col-md-6">
                <app-input-field [data]="{
                    label: 'Security answer',
                    placeholder : 'e.g. Zola',
                    type: 'password',
                    name: 'answer'
                    }" [parentFormGroup]="regFormGroup"
                    [formControlErrorMessage]="formControlErrorMessage"
                >
                </app-input-field>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <button kendoButton style="width: 45%" (click)="register()">Register</button>
                <button kendoButton style="width: 45%; float: right;" (click)="resetForm()">Reset form</button>
            </div>
        </div>
    </form>

</div>