<div class="top-nav-menu">
    <div class="menu-logo-area" >
        <br><br>
        <span class="logo" (click)="markActiveItem(7)"></span>
        <!-- <app-bakery-logo ></app-bakery-logo> -->
    </div>

    <div class="menu-content">

        <ul>

            <!-- <li (click)="markActiveItem(0)" [ngClass]="{'active': activeItem === 0}">
                <span class="fa fa-home"></span> Home</li> -->
            <li (click)="markActiveItem(1)" [ngClass]="{'category': true,'active': activeItem === 1}">
                Products
                <div class="category-dropdown">
                    <label id="title">PRODUCTS CATEGORIES</label>
                    <ul>
                        <li>
                            <a (click)="loadCategory('cakes')">Cakes</a>
                            <a (click)="loadCategory('bread-pastries')">Bread & Pastries</a>
                            <a (click)="loadCategory('biscuits')">Biscuits</a>
                        </li>
                        <li>
                            <a (click)="loadCategory('pizzas')">Pizzas</a>
                            <a (click)="loadCategory('muffins')">Muffins</a>
                            <a (click)="loadCategory('biscuits')">Biscuits</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li (click)="markActiveItem(2)" [ngClass]="{'active': activeItem === 2}">
                <span class="fa fa-shopping-basket"></span> Special
            </li>
            <!-- [routerLink]="'/user-account'"  -->
            <li (click)="markActiveItem(3)" [ngClass]="{'login': true,'active': activeItem === 3}">
                <span class="fa fa-user-circle-o"></span>
                <span > Register / Login</span>
                <div class="login-dropdown">
                    <span style="color: #888">Accounts</span>
                    <a (click)="navigateToSpecificTab(0)">
                        <span class="fa fa-user-plus"></span> Register account</a>
                    <br>
                    <a (click)="navigateToSpecificTab(1)">
                        <span class="fa fa-sign-in"></span> Login</a>
                </div>
            </li>
            <li (click)="markActiveItem(4)" [ngClass]="{'active': activeItem === 4}">
                <span class="fa fa-shopping-cart"></span> [ {{bascket.bascketProducts.length}} ]
            </li>
        </ul>
    </div>
</div>