
<!-- <div class="logo-space">Logo</div>  -->
<app-topnav-menu></app-topnav-menu>
<!-- <div class="shop-area"> -->
    <!-- <app-user-account></app-user-account> -->
    <div class="pages-area" [style.min-height]="appMinHeight">
        <router-outlet></router-outlet>
    </div>
    <!-- <div class="footer" [style.display]="status"></div> -->
<!-- </div> -->
<!-- <div [ngClass]="{'messaging-area': !isChatOpen, 'whenChatOpen': isChatOpen}">
        <div>
            <app-instant-messaging (chatOpenEvent)="onChatOpen($event)">loading...</app-instant-messaging>
        </div>
    </div> -->
{{appMinHeight}}