
.pages-area{
    margin: auto;
    /* margin-top: 61px; */
    /* width: 93%; */
}

.shop-area{
    padding-top: 70px ;
    width: 100%; 
    min-height: 400px;
    float: left;
    /* bottom: 0px; */

}

.messaging-area{
    /* width: 20%;  */
    height: 1000px;
    float: right;
    bottom: 0px;
    border:red 1px solid;
    z-index: 1px;
    position: absolute;
}

.messaging-area div{
    position: fixed;
    /* width: 80px; */
    /* height: 450px; */
    right: 2px;
    bottom: 15px;
    z-index: 1;
    /* background-color: #FFF0F5; */

    transition: height 2s;
}

.whenChatOpen{
    width: 20%; 
    height: 1000px;
    float: right;
    

}

.whenChatOpen div{
    position: fixed;
    width: 30%;
    height: 450px;
    right: 0px;
    bottom: 10px;
    background-color: #FFF0F5;
    /* border: solid 0.2 solid; */
    border: red 1px solid;
    z-index: 3px;
    position: absolute;

    transition: height 1s;
}

.footer{
    bottom: 0px;
    width: 93%;
    height: 110px;
    background-color: #ddd;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 21px;
}