h4{
    padding-left: 5px;
}

.shoping-cart{
    width: 80%;
    padding: 10px;
    /* margin: auto; */
}

.empty-list button{
    width: 263px;
    height: 40px;
}
table{
    width: 100%;
    margin: auto;
}
 
table td{
    padding: 5px;
}

thead td{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

tbody tr{
    height: 50px;
}
tbody td{
    width: 25%;
}
tbody td:first-child{
    width: 50%;
}

tbody td img{
    height: 134px;
    width: 100%;
    width: 156px;
    border: #888888 solid 0.5px;
    padding: 5px;
    float: left;
}

.sub-title{
    width: 110px;
    height: 10px;
    font-size: 10px;
    color: #888888;
    text-transform: uppercase;
    display: inline-block;

}

.btn-section{
    padding: 10px 0px;
}

.btn-section button{
    float: right;
    width: 207px;
    height: 36px;
    
}

.btn-section button:last-child{
    margin-right: 10px
}

.quantity{
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    height: 32px;
    text-align: center;
    line-height: 2;
}

.quantity button{
    width: 38px;
}

.quantity span{
    margin: auto;
    border: red solid 1px;
}

.quantity button:first-child{
    float: left;
}
.quantity button:last-child{
    float: right;
}

.hide-prod-btn{
    float: right;
    position: relative;
    border-bottom: solid;
    border-left: solid;
    border-top: solid;
    padding: 8px;
}

.hide-prod-btn:hover{
    cursor: pointer;
}

.navigator{

    text-transform: uppercase;
    margin-top: 70px;
    height: 32px;
    line-height: 3;
    font-size: 10px;
    font-weight: 600;
    position: sticky;
    top: 63px;
    z-index: 10;

}

ul{
    list-style-type: none;
    padding: 0px;
    height: inherit;
}

.navigator ul li{
    float: left;
    width: 33%;
    height: inherit;
    text-align: center;
    background-color: #ededed;
}

.navigator ul li:not(:last-child){
    border-right: solid #888888 0.4px;
}

.navigator ul li span{
    color: rgb(55, 194, 55);
    font-size: 14px;
    float: left;
    margin: 8px 5px;
}

.active{
    background-color: rgb(163, 34, 124);
}

/* #address-area{

} */

#address-area .order-summary{
    margin-top: 12px;
}

.order-summary li{
    width: 33%;
    /* float: left; */
    display: inline-block;
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 10px;
    /* font-weight: 600; */
}

.order-summary li label{
    display: block;
    text-decoration: underline;
}

.address-form-area{
    margin: 10px;
}

#payment-status{
    color: rgb(55, 194, 55);
}

#place-order-status{
    color: rgb(55, 194, 55);
}