/* ------------------------- LOGO ---------------------------------------- */
.logo-area{
    /* height: inherit;
    
    border: none;
    font-family: Comic Sans MS;
    
    text-decoration: underline; */
    width: 150px;
    font-size: 12px;
    font-weight: 600;
    height: inherit;
    background-color: white;
    color: #888;
}

.logo{
    background-image: url(../../assets/sys_images/logo2.jpg);
    background-repeat: no-repeat;
    background-size: 38px 39px;
    padding: 26px 24px;
    top: 20px;
    left: 56px;
    position: absolute;
}