/* ------------------------- LOGO ---------------------------------------- */
.logo-wrapper{
    background-color: white;
    width: 167px;

}

.logo-area{

    width: 150px;
    font-weight: 600;
    height: inherit;
    color: #888;
    margin: auto;
    font-size: 10px;
}

.logo{
    background-image: url(../../assets/sys_images/logo2.jpg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding: 20px 15px;
    top: 17px;
    left: 68px;
    margin: auto;
    position: absolute;
}

.slogan{
    display: block;
    padding: 0px 10px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-size: 9px;
}