kendo-textbox-container{
    width:100%;
    height: 55px;
    font-size: 14px;
}

kendo-textbox-container input{
    width: inherit;
    height: inherit;
    z-index: 0;
}

.invalid div{
    color: rgba(243, 23, 0, 0.5); 
}

.invalid input{
    border-color:  rgba(243, 23, 0, 0.5); 
}