<div class="product">
  <img src="../../assets/sys_images/cake-product.jpg" alt="">
  <!-- <img [src]="productImage" alt=""> -->
  <div class="product-info">
    <div class="info-section">
      <span id="product-title">{{product.productName}}</span>
      <span style="display: block;"><span id="label">CATEGORY :</span> {{product.category}}</span>
      <span style="display: block;"><span id="label">PRICE :</span> R {{product.price}}</span>

      <a >View details</a>
    </div>
    <span class="buttons-section">
      <button kendoButton (click)="addToCart()"><span class="fa fa-cart-plus"> </span> &nbsp; Add to cart</button>
    </span>
  </div>
</div>