/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons/iconfont/material-icons.css';

.logo{
    background-image: url(assets/sys_images/bakery-logo.JPG);
    background-repeat: no-repeat;
    background-size: 143px 62px;
    padding: 42px 134px 3px 10px;
}
.logo:hover{cursor: pointer;}

.bread-pastries{
    background-image: url(assets/sys_images/bread-pastries.jpg);
}

.biscuits{
    background-image: url(assets/sys_images/biscuits.jpg);
}

.cakes{
    background-image: url(assets/sys_images/cakes.jpg);
}

.pizzas{
    background-image: url(assets/sys_images/pizzas.jpg);
}

.muffins{
    background-image: url(assets/sys_images/muffins.jpg);
}

.custom-dialog-container .mat-dialog-container {
    background-color: transparent;
    box-shadow: inherit;
    /* padding: 0px; */
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}